$primary: #0779e4;
$primary-hover: #03529d;

$secondary: #4cbbb9;
$secondary-hover: #2f8e8c;

$tertiary: #77d8d8;
$tertiary-hover: #5db1b1;

$quaternary: #eff3c6;
$quaternary-hover: #dce0a9;

$danger: #ff8080;
$danger-hover: #e57373;

$succes: #aedf8e;
$succes-hover: #8ecf6e;

$light-border: #dee2e6;

.primary-navbar {
	background-color: $primary !important;
}

.secondary-navbar {
	background-color: $secondary !important;
}

.primary-button {
	background-color: $primary !important;
	border-color: $primary !important;
	// hover
	&:hover {
		background-color: $primary-hover !important;
		border-color: $primary-hover !important;
	}
}

.primary-button-outline {
	background-color: transparent !important;
	border-color: $primary !important;
	color: $primary !important;
	// hover
	&:hover {
		background-color: $primary !important;
		border-color: $primary !important;
		color: white !important;
	}
}

.primary-dropdown {
	background-color: $primary !important;
	border-color: $primary !important;
	// hover
	&:hover {
		background-color: $primary-hover !important;
		border-color: $primary-hover !important;
	}
}

.secondary-button {
	background-color: $secondary !important;
	border-color: $secondary !important;
	// hover
	&:hover {
		background-color: $secondary-hover !important;
		border-color: $secondary-hover !important;
	}
}

.secondary-button-outline {
	background-color: transparent !important;
	border-color: $secondary !important;
	color: $secondary !important;
	// hover
	&:hover {
		background-color: $secondary !important;
		border-color: $secondary !important;
		color: white !important;
	}
}

// Progres bar
.primary-progress-bar .progress-bar-animated {
	background-color: $primary !important;
}

.tertiary-progress-bar .progress-bar-animated {
	background-color: $tertiary !important;
}

.quaternary-background {
	background-color: $quaternary !important;
}

.abcjs-inline-audio {
	// background-color: #FFF !important;
	height: 48px !important;
}

// .abcjs-midi-progress-background {
// 	background-color: $primary-hover !important;
// }

// .abcjs-inline-audio .abcjs-btn {
// 	background-color: $primary !important;
// 	border-color: $primary !important;
// 	border-radius: 5px !important;
// 	min-width: 48px !important;
// 	padding: 10px 10px 10px 10px !important;
// 	// margin: 5px !important;
// 	// hover
// 	&:hover {
// 		background-color: $primary-hover !important;
// 		border-color: $primary-hover !important;
// 	}
// }

.bordered-tab-pane {
	border: 1px solid $light-border !important;
	border-radius: 0 0 10px 10px;
	border-top: none !important;
	padding: 10px;
}

// Class to make a div in the navbar look like a primary-button including the hover, and rounded corners
.navbar-button {
	background-color: $primary !important;
	border-color: $primary !important;
	border-radius: 5px !important;
	padding: 0px 5px 0px 5px !important;
	margin-left: 10px;
	// hover
	&:hover {
		background-color: $primary-hover !important;
		border-color: $primary-hover !important;
	}
}

// keep text white in navlink within navbar-button
.navbar-button .nav-link {
	color: white !important;
	padding: 5px;
}

// Class to make a div in the navbar look like a primary-button-outline including the hover, and rounded corners
.navbar-button-outline {
	background-color: transparent !important;
	border-color: white !important;
	color: $primary !important;
	border-radius: 5px !important;
	padding: 0px 5px 0px 5px !important;
	margin-left: 10px;
	// hover
	&:hover {
		background-color: $primary !important;
		border-color: $primary !important;
		color: white !important;
	}
}

// keep text white in navlink within navbar-button-outline
.navbar-button-outline .nav-link {
	color: white !important;
	padding: 5px;
}

// Override for Logout navbar link
.inactive-navbar-link {
	color: white !important;
	opacity: 0.5;
	&:hover {
		color: white !important;
		opacity: 0.75;
	}
}

